@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --clr-primary-1: hsl(205, 86%, 17%); */
  --clr-primary-1: rgb(30, 64, 175);
  --clr-primary-7: hsl(205, 90%, 76%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:px-4 max-sm:py-2 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .control {
    @apply w-full rounded-sm bg-slate-200 px-2 py-1 outline-blue-800;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .page-btn {
    width: 1.7rem;
    height: 1.7rem;
    background: var(--clr-primary-7);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.3rem;
    transition: all 0.8s ease-in-out;
  }
  .active-btn {
    background: var(--clr-primary-1);
    color: #fff;
  }
  .prev-btn,
  .next-btn {
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color: var(--clr-primary-1);
  }
}
